*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
}

header, .quien-soy, .slider, .muestras article, footer {
	height:auto;
	margin: 1em 0;
	background: #f3f0ff;
}

/*-------------------- header -------------------*/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em; 
	background:#f1f3f5;
}

.logo img {
	height: 70px;
	width: 70px;
}

.menu, .submenu {
	list-style: none;
}

.menu {
	display: flex;
	justify-content: flex-end;
	padding-right: 1em;
	margin-bottom: 0;
}

.menu li {
	margin: 1em;
	font-size: 17px;
	position: relative;	
	padding:15px 20px;
	z-index: 2;	
}

.menu li a {
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	color: coral; 
	transition: all .3s;
	
}

.submenu {
	visibility:hidden;
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	top:3em;
	background: rgba(254, 105, 72, 0.8);
	width:160%;
}

.submenu li a {
	display: block;
}

.menu li:hover > ul {
	visibility:visible;
	opacity: 1;
}

.submenu li a:hover {
	color:white;
}

/*--------------- quien-soy ----------------*/

.quien-soy {
	padding: 1em;
} 

.quien-soy {
	display: flex;
	justify-content: space-between;
} 

.quien-soy img {
	width: 100px;
	height: auto;
}

.quien-soy .profile {
	display: flex;
	justify-content: flex-start;	
}

.quien-soy .profilePic {
	margin-right: 1em;
}

.quien-soy .profileText {
	margin: 0 1.5em;
}

.profileText p {
	font-style: italic;
	font-size: 18px;
}

.profileText span {
	font-style: italic;
	font-weight:600;
}

.quien-soy .redes-top {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;

}

.redes-top a, .redes-bottom a {
	font-size: 36px;
	margin-left: 0.3em;
	color:#495057;
}

.redes-top a:hover, .redes-bottom a:hover {
	color:coral;
	transition: all .3s;
}

/*--------------- slider ----------------*/

.slider {
	z-index:1;
}

.slider h5, .slider p {
	color:coral;
}

.slider h5 {
	font-size: 30px;
}

.slider p {
	font-size: 20px;
}

/*------------------ muestras ---------------*/
.muestras {
	display: flex;
	justify-content:space-between;
}

.muestras article {
	display: flex;
	align-content: flex-start;
	padding: 1em;
}


.muestras article img {
	margin-right: 1em;
}

/*---------------- footer ------------------*/

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

footer p{
	margin-bottom: 0;
}
